
<% if @current_user %>
<h1>Welcome to the music room <%= @current_user.name %>! </h1>
<ol>
  <% @locations.each do |loc| %>
      <li>
        <%= link_to(loc.name, loc) + ', ' %>
        <%= loc.instruments %>
      </li>
    <% end %>
    

<% else %>

<h1>Welcome to the music room!</h1>
<p>Sign up to search your area for delicious musicians</p>

<% end %>