/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Raleway);

 $brand-color: rgba(88, 181, 203, 1); 

 $secondary-color: rgba(90, 209, 224, 1);

 $dark-grey: rgba(54, 56, 56, 1);

 $light-grey: rgba(106, 110, 110, 1);

 $light-blue: rgba(209, 244, 255, 1);

 $main-font: 'Raleway';




 *{
  box-sizing: border-box;
  font-family: $main-font
 }

 ul{
  padding: 0;
 }

 h1{
  text-align: center;
  font-family: 'helvetica';
  width: 50%;
  margin: 0 auto;
  color: $dark-grey
 }

 .failedNotice{
  // font-family: $main-font;
  text-align: center;
  color: red;
 }

 .loginH2{
  // font-family: $main-font;
  text-align: center;
  margin-bottom: 50px;
 }

 body{
  background-color: $brand-color;
  margin: 0;
 }

 .container{
  padding: 50px;
  padding-top: 150px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: $secondary-color;
  border-radius: 20px;
  box-shadow: 0px 0px 30px  $dark-grey
 }

 nav{
  position: fixed;
  opacity: 0.4;
  background-color: $light-grey;
  box-shadow: 4px 0px 10px $dark-grey;
  border-bottom: 4px solid $dark-grey;
  line-height: 100px;
  width: 100%;
  min-height: 100px;
  display: block;
  margin: 0 auto;

  ul{
    margin: 0;
    text-align: center;

    li{
      color: white;
      text-decoration: none;
      // font-family: $main-font;
      text-transform: uppercase;
      display: inline-block;
      margin: 0px 60px;

      a{
        color: white;
        text-decoration: none;
    }
   }
  }
 }

 .frontPage{
  height: auto;
  // font-family: $main-font;

  .welcomeMessage{
    min-height: 300px;
    font-size: 2.5em;
    padding-top: 50px;
  }
  .information{
    background-color: $light-blue;
    border-radius: 20px 20px 20px 0px;
    min-height: 300px;
    border-top: 5px solid $dark-grey;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.7em;
    padding: 0 20px;

    .informationLeft{
      line-height: 250px;
      display: inline-block;
      vertical-align: top;
      width: 60%;
    }
    .informationRight{
      display: inline-block;
      vertical-align: top;
      width: 39%;
   }
  }
 

 .howItWorks{
    color:white;
    background-color: $brand-color;
    border-radius: 20px 0px 20px 20px;
    min-height: 300px;
    border-top: 5px solid $dark-grey;
    margin-bottom: 20px;

    .howItWorksRight{
      padding-left: 20px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      // font-family: $main-font;
      font-size: 1.7em;
      width: 39%;
    }
    .howItWorksLeft{
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 250px;
      width: 60%;
      font-size: 1.7em;
      // font-family: $main-font
   }
  }
 

 .whyUseIt{
    background-color: $light-blue;
    border-radius: 20px 20px 20px 0px;
    min-height: 300px;
    border-top: 5px solid $dark-grey;

    .whyUseItRight{
      padding-left: 20px;
      display: inline-block;
      vertical-align: top;
      line-height: 250px;
      text-align: center;
      // font-family: $main-font;
      font-size: 1.7em;
      width: 60%;
    }
    .whyUseItLeft{
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 39%;
      font-size: 1.7em;
      // font-family: $main-font
   }
  }
}   
 .signupH1{
  box-shadow: 0px 6px 10px $dark-grey;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  height: 200px;
  width: 200px;
  line-height: 200px;
  background-color: $brand-color;
  border-radius: 100%;
 }

 .SignInErrors{
  display: block;
  font-size: 15px;
  list-style: none;
  text-align: center;
  padding: 0;
  color: red;
  // font-family: $main-font;
  transition: 5s
 }

 .signUpRight{
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
 }

 .signUpLeft{
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
 }

 .userProfileRight{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  overflow: hidden;
  // font-family: $main-font;

  h2{
    font-size: 2em;
  }

  span{
    font-style: italic;
  }
 }

 .userProfileLeft{
  display: inline-block;
  vertical-align: top;
  width: 49%;

  img{
    overflow:hidden;
    max-width: 50%;
    max-height: 100%;
  }
 }

 .locatedUsers{
  text-align: center;
  list-style: none;
  height: 400px;
  background-color: $light-blue;
  padding: 20px;
  border-radius: 50px 50px 0px 50px;
  box-shadow: 1px 5px 5px $dark-grey;
  transition: 0.3s ease-in-out;
 }

 .locatedUsers:hover{
  box-shadow: 0px 2px 2px $dark-grey;
  background-color: $brand-color;
 }

 .locatedUsersContainerLeft{
  display: inline-block;
  width: 49%;
  vertical-align: top;

  li{
    display: inline-block;
  }
 }

 .locatedUsersContainerRight{
  display: inline-block;
  width: 49%;
  vertical-align: top;
  // font-family: $main-font;
  text-align: left;

  h3{
    font-size: 1.6em;
    margin: 20px 0;
  }

  li{
    font-size: 1.2em;
  }

  .messageButton{
    text-align: right;
    margin-top: 40px; 

    a{
      font-size: 2em;
      color: $dark-grey;
      text-decoration: none;
    }
  }
 }

 .locatedUserImageContainer{
  height: 500px;
  width: 500px;
  // border-radius: 50%;
  overflow: hidden;
  display: inline-block;
 }

 .userImage{
  border-radius:20px;
  width: 100%;
 }

 textarea:focus, input:focus{
    outline: 0;
}

 input{
  display: block;
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 0px 10px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  min-height: 30px;
  font-size: 1em;
  font-family: helvetica;
  box-shadow: 1px 4px 10px black;
  transition: 0.5s;
 }

 input:focus{
  transition: background-color 0.5s ease;
  background-color: gray;
  box-shadow: 0px 2px 2px black;
  color: white
 }

label{
  color: white;
  margin: 10px 0px;
  // font-family: $main-font;
  text-transform: uppercase;
  min-height: 20px;
  min-width: 100px;
  text-align: center;
  font-size: 1.4em;
  display: block;
  border-radius: 20px;
}

form{
  display: block;
}

.podbar {
    bottom:0;
    position:fixed;
    z-index:0;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:65px;
}

footer{
  position: fixed;
  opacity: 0.4;
  background-color: $light-grey;
  box-shadow: -4px 0px 5px $dark-grey;
  border-top: 4px solid $dark-grey;
  line-height: 100px;
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}